In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  76 non-null     object
 1   Country/Region  103 non-null    object
 2   Last Update     103 non-null    object
 3   Confirmed       103 non-null    int64
 4   Deaths          103 non-null    int64
 5   Recovered       103 non-null    int64
dtypes: int64(3), object(3)
memory usage: 5.0+ KB

In [3]:
df = pd.read_csv(r'D:\codes\Depi\02-01-2020.csv')

In [4]:
df.head(5)

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2/1/2020 11:53       7153     249        168
1       Zhejiang  Mainland China  2/1/2020 10:53        599       0         21
2      Guangdong  Mainland China  2/1/2020 14:23        535       0         14
3          Henan  Mainland China   2/1/2020 1:52        422       2          3
4          Hunan  Mainland China  2/1/2020 11:03        389       0          8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  76 non-null     object
 1   Country/Region  103 non-null    object
 2   Last Update     103 non-null    object
 3   Confirmed       103 non-null    int64
 4   Deaths          103 non-null    int64
 5   Recovered       103 non-null    int64
dtypes: int64(3), object(3)
memory usage: 5.0+ KB

In [6]:
df_version = df.copy()

In [7]:
df_version.head()

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2/1/2020 11:53       7153     249        168
1       Zhejiang  Mainland China  2/1/2020 10:53        599       0         21
2      Guangdong  Mainland China  2/1/2020 14:23        535       0         14
3          Henan  Mainland China   2/1/2020 1:52        422       2          3
4          Hunan  Mainland China  2/1/2020 11:03        389       0          8

In [8]:
new_time = df_version['Last Update'].str.split(' ' , expand=True)

In [9]:
new_time

            0      1
0    2/1/2020  11:53
1    2/1/2020  10:53
2    2/1/2020  14:23
3    2/1/2020   1:52
4    2/1/2020  11:03
..        ...    ...
98   2/1/2020  11:53
99   2/1/2020  11:53
100  2/1/2020  11:53
101  2/1/2020  11:53
102  2/1/2020  11:53

[103 rows x 2 columns]

In [10]:
df_version['Last Update_Date'] = new_time[0]

In [11]:
df_version['Last Update_Hours'] = new_time[1]

In [12]:
df_version.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Last Update_Date,Last Update_Hours
0,Hubei,Mainland China,2/1/2020 11:53,7153,249,168,2/1/2020,11:53
1,Zhejiang,Mainland China,2/1/2020 10:53,599,0,21,2/1/2020,10:53
2,Guangdong,Mainland China,2/1/2020 14:23,535,0,14,2/1/2020,14:23
3,Henan,Mainland China,2/1/2020 1:52,422,2,3,2/1/2020,1:52
4,Hunan,Mainland China,2/1/2020 11:03,389,0,8,2/1/2020,11:03

In [13]:

df_version.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Last Update_Date', 'Last Update_Hours'],
      dtype='object')

In [14]:
new_order = ['Province/State', 'Country/Region', 'Last Update', 'Last Update_Date', 'Last Update_Hours', 'Confirmed',
       'Deaths', 'Recovered']
new_order

['Province/State',
 'Country/Region',
 'Last Update',
 'Last Update_Date',
 'Last Update_Hours',
 'Confirmed',
 'Deaths',
 'Recovered']

In [15]:
df_version = df_version[new_order]

In [16]:
df_version.head()

,Province/State,Country/Region,Last Update,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2/1/2020 11:53,2/1/2020,11:53,7153,249,168
1,Zhejiang,Mainland China,2/1/2020 10:53,2/1/2020,10:53,599,0,21
2,Guangdong,Mainland China,2/1/2020 14:23,2/1/2020,14:23,535,0,14
3,Henan,Mainland China,2/1/2020 1:52,2/1/2020,1:52,422,2,3
4,Hunan,Mainland China,2/1/2020 11:03,2/1/2020,11:03,389,0,8

In [17]:
df_version.drop('Last Update' , axis = 1 , inplace=True)

In [18]:
na_values = df_version[df_version['Province/State'].isna()] 
na_values

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
27,NaN,Japan,2/1/2020,18:53,20,0,1
28,NaN,Thailand,1/31/2020,10:37,19,0,8
31,NaN,Singapore,2/1/2020,5:37,16,0,0
33,NaN,South Korea,2/1/2020,10:43,12,0,0
36,NaN,Germany,2/1/2020,18:33,8,0,0
38,NaN,France,2/1/2020,1:52,6,0,0
39,NaN,Vietnam,2/1/2020,7:38,6,0,1
42,NaN,United Arab Emirates,1/31/2020,8:15,4,0,0
45,NaN,Italy,1/31/2020,8:15,2,0,0
46,NaN,Russia,1/31/2020,16:13,2,0,0
50,NaN,Cambodia,1/31/2020,8:15,1,0,0
52,NaN,Finland,1/31/2020,8:15,1,0,0
53,NaN,India,1/31/2020,8:15,1,0,0
55,NaN,Nepal,1/31/2020,8:15,1,0,0
56,NaN,Philippines,2/1/2020,17:43,1,0,0
57,NaN,Spain,2/1/2020,2:13,1,0,0
58,NaN,Sri Lanka,1/31/2020,8:15,1,0,0
59,NaN,Sweden,2/1/2020,2:13,1,0,0
67,NaN,Kiribati,2/1/2020,11:53,0,0,0
68,NaN,Palau,2/1/2020,11:53,0,0,0
70,NaN,Summer Olympics 2020,2/1/2020,11:53,0,0,0
88,NaN,Tonga,2/1/2020,11:53,0,0,0
89,NaN,Winter Olympics 2022,2/1/2020,11:53,0,0,0
90,NaN,Antarctica,2/1/2020,11:53,0,0,0
93,NaN,"Korea, North",2/1/2020,11:53,0,0,0
99,NaN,Nauru,2/1/2020,11:53,0,0,0
101,NaN,Tuvalu,2/1/2020,11:53,0,0,0

In [19]:
df_version.fillna('Unknown')

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2/1/2020,11:53,7153,249,168
1,Zhejiang,Mainland China,2/1/2020,10:53,599,0,21
2,Guangdong,Mainland China,2/1/2020,14:23,535,0,14
3,Henan,Mainland China,2/1/2020,1:52,422,2,3
4,Hunan,Mainland China,2/1/2020,11:03,389,0,8
...,...,...,...,...,...,...,...
98,Wales,United Kingdom,2/1/2020,11:53,0,0,0
99,Unknown,Nauru,2/1/2020,11:53,0,0,0
100,Niue,New Zealand,2/1/2020,11:53,0,0,0
101,Unknown,Tuvalu,2/1/2020,11:53,0,0,0
102,Pitcairn Islands,United Kingdom,2/1/2020,11:53,0,0,0

In [20]:
df_version['Last Update_Date'] = pd.to_datetime(df_version['Last Update_Date'], format='%m/%d/%Y')

In [21]:
df_version.head()

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-01,11:53,7153,249,168
1,Zhejiang,Mainland China,2020-02-01,10:53,599,0,21
2,Guangdong,Mainland China,2020-02-01,14:23,535,0,14
3,Henan,Mainland China,2020-02-01,1:52,422,2,3
4,Hunan,Mainland China,2020-02-01,11:03,389,0,8

In [23]:
df_version.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Province/State     76 non-null     object
 1   Country/Region     103 non-null    object
 2   Last Update_Date   103 non-null    datetime64[ns]
 3   Last Update_Hours  103 non-null    object
 4   Confirmed          103 non-null    int64
 5   Deaths             103 non-null    int64
 6   Recovered          103 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 5.8+ KB

#### 1. Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

In [26]:
df = df_version

In [27]:
df.head(5)

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-01,11:53,7153,249,168
1,Zhejiang,Mainland China,2020-02-01,10:53,599,0,21
2,Guangdong,Mainland China,2020-02-01,14:23,535,0,14
3,Henan,Mainland China,2020-02-01,1:52,422,2,3
4,Hunan,Mainland China,2020-02-01,11:03,389,0,8

#### 2. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [28]:
df.columns

Index(['Province/State', 'Country/Region', 'Last Update_Date',
       'Last Update_Hours', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [34]:
df.groupby(['Country/Region']).agg({
    'Confirmed': 'max',
    'Deaths': 'max',
    'Recovered': 'max',
})

                      Confirmed  Deaths  Recovered
Country/Region
Antarctica                    0       0          0
Australia                     4       0          2
Cambodia                      1       0          0
Canada                        3       0          0
China                         0       0          0
Finland                       1       0          0
France                        6       0          0
Germany                       8       0          0
Hong Kong                    13       0          0
India                         1       0          0
Italy                         2       0          0
Japan                        20       0          1
Kiribati                      0       0          0
Korea, North                  0       0          0
Macau                         7       0          0
Mainland China             7153     249        168
Malaysia                      0       0          0
Nauru                         0       0          0
Nepal                         1       0          0
New Zealand                   0       0          0
Palau                         0       0          0
Philippines                   1       0          0
Russia                        2       0          0
Singapore                    16       0          0
South Korea                  12       0          0
Spain                         1       0          0
Sri Lanka                     1       0          0
Summer Olympics 2020          0       0          0
Sweden                        1       0          0
Taiwan                       10       0          0
Thailand                     19       0          8
Tonga                         0       0          0
Tuvalu                        0       0          0
US                            2       0          0
Ukraine                       0       0          0
United Arab Emirates          4       0          0
United Kingdom                2       1          0
Vietnam                       6       0          1
Winter Olympics 2022          0       0          0

#### 3. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [33]:
df.groupby(['Country/Region','Province/State']).agg({
    'Confirmed': 'max',
    'Deaths': 'max',
    'Recovered': 'max',
})

                                 Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      New South Wales           4       0          2
               Queensland                3       0          0
               South Australia           1       0          0
               Victoria                  4       0          0
Canada         British Columbia          1       0          0
...                                    ...     ...        ...
United Kingdom Northern Ireland          0       0          0
               Pitcairn Islands          0       0          0
               Scotland                  0       0          0
               Unknown                   2       0          0
               Wales                     0       0          0

[76 rows x 3 columns]

#### 4. Write a Python program to get the Chinese province wise cases of confirmed, deaths and recovered cases of Novel Coronavirus (COVID-19).

In [38]:
df[df['Country/Region'] == 'China']

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
66,Unknown,China,2020-02-01,11:53,0,0,0

In [44]:
df[df['Country/Region'] == 'Mainland China'][['Country/Region', 'Confirmed','Deaths','Recovered']]

    Country/Region  Confirmed  Deaths  Recovered
0   Mainland China       7153     249        168
1   Mainland China        599       0         21
2   Mainland China        535       0         14
3   Mainland China        422       2          3
4   Mainland China        389       0          8
5   Mainland China        297       0          5
6   Mainland China        286       0          9
7   Mainland China        247       1          3
8   Mainland China        207       1          3
9   Mainland China        206       0          3
10  Mainland China        202       0          6
11  Mainland China        169       1         10
12  Mainland China        168       1          9
13  Mainland China        144       0          0
14  Mainland China        101       0          0
15  Mainland China        100       0          2
16  Mainland China         96       1          0
17  Mainland China         93       0          2
18  Mainland China         80       2          2
19  Mainland China         64       0          1
20  Mainland China         62       1          1
21  Mainland China         47       0          1
22  Mainland China         41       0          0
23  Mainland China         40       0          0
24  Mainland China         29       0          2
25  Mainland China         26       0          0
26  Mainland China         23       0          1
29  Mainland China         18       0          0
30  Mainland China         17       0          1
35  Mainland China          9       0          0
54  Mainland China          1       0          0

#### 5. Write a Python program to get the latest country wise deaths cases of Novel Coronavirus (COVID-19).

In [46]:
df.groupby(['Country/Region']).agg({'Deaths' : 'max'})

                      Deaths
Country/Region
Antarctica                 0
Australia                  0
Cambodia                   0
Canada                     0
China                      0
Finland                    0
France                     0
Germany                    0
Hong Kong                  0
India                      0
Italy                      0
Japan                      0
Kiribati                   0
Korea, North               0
Macau                      0
Mainland China           249
Malaysia                   0
Nauru                      0
Nepal                      0
New Zealand                0
Palau                      0
Philippines                0
Russia                     0
Singapore                  0
South Korea                0
Spain                      0
Sri Lanka                  0
Summer Olympics 2020       0
Sweden                     0
Taiwan                     0
Thailand                   0
Tonga                      0
Tuvalu                     0
US                         0
Ukraine                    0
United Arab Emirates       0
United Kingdom             1
Vietnam                    0
Winter Olympics 2022       0

#### 6. Write a Python program to list countries with no cases of Novel Coronavirus (COVID-19) recovered.

In [48]:
df.head()

,Province/State,Country/Region,Last Update_Date,Last Update_Hours,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-01,11:53,7153,249,168
1,Zhejiang,Mainland China,2020-02-01,10:53,599,0,21
2,Guangdong,Mainland China,2020-02-01,14:23,535,0,14
3,Henan,Mainland China,2020-02-01,1:52,422,2,3
4,Hunan,Mainland China,2020-02-01,11:03,389,0,8

In [53]:
df[df['Recovered'] == 0]['Country/Region']

13     Mainland China
14     Mainland China
16     Mainland China
22     Mainland China
23     Mainland China
            ...
98     United Kingdom
99              Nauru
100       New Zealand
101            Tuvalu
102    United Kingdom
Name: Country/Region, Length: 77, dtype: object

#### 7. Write a Python program to list countries with all cases of Novel Coronavirus (COVID-19) died.